.about-us-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  /* background-color: #f4f4f4; */
}

.about-us-content {
  width: 60%;
  text-align: left;
  margin-left:2.5rem;
  padding:1rem;
  font-family: 'Open Sans', sans-serif;
}

.about-us-content h2 {
  font-size: 1.3em;
  margin-bottom: 10px;
  /* color:#4cd0c1; */
  color:#b3245c;
}

.about-us-first
{
  color: #555; 
  font-size: 2em;
  line-height: 1.6;
  margin-bottom: 15px;
  font-weight:600;
}

.about-us-second {
  color: #555; 
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 25px;
}

.image-stack {
  display: flex;
  flex-direction: column;
  margin-right:10px;
}

.image-stack img {
  width: 100%;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.image-stack img:hover {
  transform: scale(1.1); /* Scale up on hover */
  opacity: 0.8; /* Reduce opacity on hover */
}

.about1-image,
.about2-image {
  width: 100%; 
  max-width: 400px; 
  height: auto; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

/* Side Image */
.side-image {
  width: 100%; 
  max-width: 300px; 
  height: 300px; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  object-fit: cover;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.side-image:hover {
  transform: scale(1.1); /* Scale up on hover */
  opacity: 0.8; /* Reduce opacity on hover */
}

/* Learn More Button */
.custom-button2 {
  margin-top:1.5rem;
  background-color: #b3245c;
  width:150px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.custom-button2:hover
{
   background-color:#a21e53;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

/* Media Queries */
@media (max-width: 768px) {
  .about-us-container {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  
  .about-us-content {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }
  
  .image-stack {
    margin: 0 auto 20px;
  }
  
  .side-image {
    max-width: 250px;
    height: auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .about-us-container {
    padding: 30px;
  }
  
  .about-us-content {
    width: 70%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .about-us-container {
    padding: 50px 30px;
  }
}