/* Home.css */
.main-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  /* height: 100vh; */
}

/* Apply SVG as a background */
.background-svg {
  opacity: 0.5;
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background-image: url('../assets/images/bg-svg2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-container{
  display:flex;
  /* background-color: greenyellow; */
   justify-content: center;
  align-items: center;
}

.content-container-wrapper{
  margin-top:150px;
  margin-bottom:100px;
  width: 100%;
}
.hero-section-content{
  /* margin-top:30px;
  background-color: #2443b3; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: #2443b3; */
  margin-top: 30px;
}
.hero-section-image
{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  /* background-color: red; */

}

  /* .slide-left {
    width: 100%;
    animation: 1s slide-left forwards;
  }

  @keyframes slide-left {
    from {
      margin-left: 0%;
    }
    to {
      margin-left: 10%;
    }
  } */

  /* .slide-right {
    animation: 1s slide-right forwards;
  }
  
  @keyframes slide-right {
    from {
      margin-left: 0%;
    }
    to {
      margin-left: -10%; 
    }
  } */
  .fade-in {
  animation: fadeIn ease 3s;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}



.tagline {
  color:#333c43;
  font-size: 2.625rem; 
  font-weight: 600; 
  line-height: 1.2em;
  margin-bottom: 1.75rem;
  width:100%;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.10rem;
}

.paragraph {
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.4rem;
  color: #475056; 
  font-family: 'Open Sans', sans-serif;
  /* background-color: violet; */
}

.btn-div
{
  margin-left: 8%;
}

.custom-button {
  margin-top:50px;
  background-color: #b3245c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  padding: 10px 20px; 
  font-size: 20px;
  width: 200px;
  height: 50px;
}

.custom-button:hover
{
  background-color:#a21e53;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}


.svg-image {
  width: 100%;
  max-width: 50rem;
  object-fit: contain;
  height: auto;
  display: block;
}

.about-home{
  background:red;
  margin-top:100px;
}

@media (max-width:540px) {
 
  .content-container {
    margin-top: -50px;
    flex-direction: column;
  }

  .hero-section-content,
  .hero-section-image {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .tagline {
    font-size: 2.625rem;
    text-align: center;
  }

  .paragraph {
    text-align: center;
  }

  .custom-button {
    width: 100%;
    margin-top: 1rem;
  }
  .hero-section-image
  {
    margin-top: 2rem;
    margin:0 auto;
  }
  .hero-image
  {
    width: 50rem;
    max-width: 100%;
  }
  .svg-image {
    width: 50rem;
    margin-top: 1rem;
    max-width: 100%;
  }
  
}

@media (min-width:540px) and (max-width:768px) {

  .content-container {
    margin-top: -50px;
    flex-direction: column;
  }

  .hero-section-content,
  .hero-section-image {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .tagline {
    font-size: 2.625rem;
    text-align: center;
  }

  .paragraph {
    text-align: center;
  }

  .custom-button {
    width: 100%;
    margin-top: 1rem;
  }
  .hero-section-image
  {
    margin-top: 2rem;
    margin:0 auto;
  }

  .hero-image
  {
    width: 60rem;
    max-width: 100%;
  }

  .svg-image {
    width: 60rem;
    margin-top: 1rem;
    max-width: 100%;
  }

}

@media (max-width: 768px) {
  .tagline {
    max-width:90%;
    width: 100%;
    font-weight: 800;
    font-size: 3.5625rem;
    margin-bottom: 1.25rem;
    text-align: center;
  }

  .paragraph {
    width: 100%;
    max-width: 80%;
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .custom-button {
    width: 100%;
    margin-top: 1rem;
  }

  .hero-section-content {
    margin-top: 20px;
  }

  .svg-image {
    width: 100%;
    height: auto;
  }

  .main-home-container .svg-image
  {
    width: 100%;
    object-fit: contain;
  }
}

/* 769 ----------- 1024*/
@media (min-width: 768px) and (max-width: 1025px) {
  .content-container {
    margin-top: -50px;
    flex-direction: column;
  }

  .hero-section-content,
  .hero-section-image {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .tagline {
    max-width: 100%;
    width: 50rem;
    font-size: 3.5625rem;
    text-align: center;
  }

  .paragraph {
    max-width: 100%;
    width: 50rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .custom-button {
    width: 100%;
  }
  .hero-section-image
  {
    margin-top: 2rem;
    margin:0 auto;
  }
  .svg-image {
    width: 40rem;
    margin-top: 1rem;
    max-width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {

  .content-container {
    margin-top: -50px;
    flex-direction: column;
  }

  .hero-section-content,
  .hero-section-image {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .tagline {
    width: 100%;
    max-width: 45rem;
    font-size: 4.5rem;
    text-align: center;
  }

  .paragraph {
    width: 100%;
    max-width: 50rem;
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .custom-button {
    width: 100%;
  }
  .hero-section-image
  {
    margin-top: 2rem;
    margin:0 auto;
  }
  .svg-image {
    width: 50rem;
    margin-top: 1rem;
    max-width: 100%;
  }
}

@media (min-width:1200px) 
{ 
  .main-home-container {
    padding: 40px;
  }

  .content-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -2rem;
  }

  .content-container-wrapper {
    margin-top: 150px;
    margin-bottom: 100px;
    width: 100%;
  }

  .hero-section-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }

  .hero-section-image {
    width: 55%;
    display: flex;
    justify-content: flex-end;
  }

  .tagline {
    font-size: 4.5rem;
    line-height: 1.2em;
    margin-bottom: 1.75rem;
    width: 100%;
    text-align: left;
  }

  .paragraph {
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: left;
    margin-bottom: 1.5rem;
  }

  .btn-div {
    margin-left: 0;
  }

  .custom-button {
    width: 250px;
    margin-top: 2rem;
  }

  .svg-image {
    width: 100%;
    max-width: 50rem;
    height: auto;
  }

  .hero-image {
    width: 50rem;
    max-width: 100%;
  }

}



