/* Home.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.home-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #b3245c;
    
  }
  
  .company-name-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
  }

  .company-name {
    color: #ffffff; 
    font-family: 'Raleway',sans-serif; 
    font-size: 2em;
    font-weight: 800; 
    line-height: 72px; 
    margin: 0 0 24px; 
    text-align: center; 
    text-transform: uppercase;
    transition: font-size 1.5s ease-in-out , color 1.5s ease-in-out;
  }
  
  /* Circular clip path animation */
  .home-container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #ffffff; 
    border-radius: 50%;
    transition: width 1s ease-in-out, height 1s ease-in-out;
  }

  .slide-left {
    width: 100%;
    animation: 3s slide-left forwards;
  }

  @keyframes slide-left {
    from {
      margin-left: 0%;
    }
    to {
      margin-left: -45%;
    }
  }

  .fade-in {
  animation: fadeIn ease 3s;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.slide-right {
  animation: 3s slide-right forwards;
}

@keyframes slide-right {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 45%; 
  }
}

/* Additional styling for the hero image container */
.hero-image {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.tagline {
  color:#333c43;
  font-size: 2.625rem; 
  font-weight: 600; 
  line-height: 1.2em;
  margin-bottom: 1.75rem;
  width:600px;
  font-family: 'Roboto', sans-serif;
}

.paragraph {
  font-size: 1.25rem;
  line-height: 1.4rem;
  color: #475056; 
  font-family: 'Open Sans', sans-serif;
}

.span-head
{
  color:#b3245c;
}

.custom-button {
  margin-top:1.5rem;
  background-color: #b3245c;
  width:150px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover
{
  background-color:#a21e53;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.svg-image
{
  width:500px;
  height:auto;
}

.about-home{
  background:red;
  margin-top:100px;
}