/* Home.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.main-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content-container{
  display:flex;
}

.content-container-wrapper{
  margin-top:150px;
  margin-bottom:100px;
}

.hero-section-content{
  margin-top:30px;
}

  /* .slide-left {
    width: 100%;
    animation: 1s slide-left forwards;
  }

  @keyframes slide-left {
    from {
      margin-left: -15%;
    }
    to {
      margin-left: -5%;
    }
  }

  .fade-in {
  animation: fadeIn ease 3s;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.slide-right {
  animation: 1s slide-right forwards;
} */

@keyframes slide-right {
  from {
    margin-left: 15%;
  }
  to {
    margin-left: 5%; 
  }
}


.tagline {
  color:#333c43;
  font-size: 2.625rem; 
  font-weight: 600; 
  line-height: 1.2em;
  margin-bottom: 1.75rem;
  width:600px;
  font-family: 'Roboto', sans-serif;
}

.paragraph {
  font-size: 1.25rem;
  line-height: 1.4rem;
  color: #475056; 
  font-family: 'Open Sans', sans-serif;
}

.custom-button {
  margin-top:1.5rem;
  background-color: #b3245c;
  width:150px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover
{
  background-color:#a21e53;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.svg-image
{
  width:500px;
  height:auto;
}

.about-home{
  background:red;
  margin-top:100px;
}

@media (max-width:568px) {
  .content-container
  {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tagline
  {
    max-width:400px;
    font-size:1.75rem;
    width:100%;
    text-align: center;
  }

  .paragraph
  {
    /* font-size:1rem; */
    font-size:2.5vw;
    width: 100%;
    text-align: center;
  }

  .custom-button
  {
    width: 100%;
    margin-top: 1rem;
  }

  .hero-section-content
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }
}

