.navbar {
    background-color: #b3245c; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: fixed;
    width:100%;
    z-index: 10;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    transition: background-color 0.3s, color 0.3s
  }

  .nav-list li a:hover{
    color:#4cd0c1;
  }
  
.logo
{
    width:100%;
    height:auto;
    max-width:200px;
    float:left;
}

.nav-list li:nth-child(6) a {
  background-color: white;
  padding: 8px 16px; 
  color: #b3245c;
  border-radius: 4px; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-list li:nth-child(6) a:hover{
  background-color:#b3245c;
  color:white;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.active .bar:nth-child(2) {
  opacity: 0;
}

.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

.active + .nav-list {
  display: flex;
}

@media (max-width: 568px) {
  .nav-list li a{
    font-size:12px;
    min-width: 50px;
  }

  .logo{
    max-width:100px;
  }

  .navbar {
   width:100%;
}
}

@media (max-width: 1200px) {
  
  .menu-toggle {
    display: block;
    margin-right: 10px;
  }

  .nav-list {
    display: none;
    background-color: #b3245c;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
  }

  .nav-list.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-list.active li {
    margin: 10px 0;
  }

  .nav-list li {
    margin: 0;
  }

  .nav-list li a {
    font-size: 16px;
  }

  .logo {
    max-width: 150px;
  }
}