@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

.navbar {
    background-color: #b3245c; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: fixed;
    width:100%;
    z-index: 10;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    transition: background-color 0.3s, color 0.3s
  }

  .nav-list li a:hover{
    color:#4cd0c1;
  }
  
.logo
{
    width:100%;
    height:auto;
    max-width:200px;
    float:left;
}

.nav-list li:nth-child(2) a {
  background-color: white;
  padding: 8px 16px; 
  color: #b3245c;
  border-radius: 4px; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-list li:nth-child(2) a:hover{
  background-color:#b3245c;
  color:white;
}

@media (max-width: 400px) {
  .nav-list li {
    margin-bottom: 0; 
  }
}