.process-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.process-container.reverse {
  flex-direction: row-reverse;
  background-color: #f4f4f4;
  /* width: 100%; */
} 

.text-content{
  font-family: 'Open Sans', sans-serif;
}

.process-image {
  width: 100%;
    max-width: 450px;
    max-height: 250px;
    /* border-radius: 8px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    object-fit: cover;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    padding: 20px;
}

.process-image:hover
    {
        transform: scale(1.1); 
        opacity: 0.8; 
    }

.text-heading
{
  font-size: 1.3em;
    margin-bottom: 10px;
    /* color: #4cd0c1; */
    color: #b3245c;
    font-weight: 600;
}

/* Mobile Devices (max-width: 480px) */
@media only screen and (max-width: 480px) {
  .process-container {
    flex-direction: column;
    align-items: center;
  }

  .process-container.reverse {
    flex-direction: column;
  }
  
  .text-heading
  {
    text-align: center;
    margin-top: 1rem;
  }

  .text-content p
  {
    text-align: center;
    width: 90%;
  }
}

/* iPads, Tablets (481px to 786px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .process-container {
    max-width: 90%;
  }
  .process-image {
    max-width: 400px; 
    height: 250px; 
  }
  .text-content
  {
    margin-left: 5%;
  }
  .text-heading {
    font-size: 1.1em; 
  }
}

/* Small Screens, Laptops (769px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .process-container {
    max-width: 90%;
  }
  .process-image {
    max-width: 450px; 
    height: 280px; 
  }
  .text-heading {
    font-size: 1.2em; 
  }

  .text-content
  {
    margin-left: 5%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .process-container {
    max-width: 90%;
   
  }
  .process-image {
    max-width: 500px;    
    height: 320px; 
  }
  .text-heading {
    font-size: 1.3em;
  }

  .text-content
  {
    margin-left: 5%;
  }
}