.process-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px; /* Adjust margin as needed */
}

.process-container.reverse {
  flex-direction: row-reverse;
}

.image-div,
.text-content {
  flex: 1;
}

.text-content{
  font-family: 'Open Sans', sans-serif;
}

.process-image {
  width: 100%;
    max-width: 500px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.process-image:hover
    {
        transform: scale(1.1); 
        opacity: 0.8; 
    }

.text-heading
{
  font-size: 1.3em;
    margin-bottom: 10px;
    /* color: #4cd0c1; */
    color: #b3245c;
    font-weight: 600;
}