/* ServiceHome.css */
.service-home-container {
    text-align: center;
    padding: 50px 0;
    background-color: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
  }
  
  .section-title {
    font-size: 1.3em;
    margin-bottom: 10px;
    color:#b3245c;
    padding:1rem;
    margin-bottom:10px
  }
  
  .service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .service-item {
    /* background-color: #f4f4f4; */
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  .service-item img {
    /* width: 100%; */
    max-width: 100%;
    height: auto;
    /* height: 200px; */
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .service-item img:hover{
    transform: translateY(-10px);
    opacity:0.8;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .service-item{
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  .service-item h2{
    color:#333c43;
  font-size: 1.625em;
  line-height: 1.6;
  margin-bottom: 15px;
  font-weight:600;
  padding:10px;
  }
  
  .custom-button2 {
    margin-top:1.5rem;
    background-color: #b3245c;
    width:150px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .custom-button2:hover
  {
     background-color:#a21e53;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  

  @media (max-width: 768px) {
    .custom-button2 {
      padding: 8px 16px;
      font-size: 14px;
      margin:0 auto;
    }
    .service-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
        gap: 10px; 
        padding:10px;
    }

    .service-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 0.7em;
  }

  .learn-more-button {
      align-self:center;
  }
}