  #responsive {
    height: auto;
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  #responsive h2
  {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #b3245c;
    padding: 1rem;
    margin-bottom: 10px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #b3245c 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  #heading{
    color: #555;
    font-size: 1.625em;
    line-height: 1.6;
    margin-bottom: 15px;
    font-weight: 600;
    padding: 10px;

  }
  .card-para{
    color: #555;
    font-size: 1.1em;
    line-height: 1.6;
    /* margin-bottom: 25px; */
    /* padding: 10px; */
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color: #b3245c;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .card:hover {
    background-position: 0 100%;
  }
  .card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #b3245c;
    /* color: #2c7bfe; */
  }
  .card:hover p , .card:hover #heading{
    color: #f0f0f0;
  }

  .card-para:hover{
    color: #ffffff;
  }

  @media screen and (max-width: 768px) {
   .column
   {
    max-width: 80%;
    margin: 0 auto;
   }
  }

  @media screen and (min-width: 768px) {
    section {
      padding: 0 2em;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
  