/* Why.css */

.why-container {
    width: 100%;
    padding: 50px 0;
    display: grid;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top:50px;
  }
  
  .why-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    max-width: 1200px;
    width: 60%;
    margin:0 auto;
    
  }
  
  .why-container h2{
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #b3245c;
    padding: 1rem;
  }

  .why-item {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd; /* Add a border for separation */
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-align: left;
    
  }
  
  .why-item img {
    width: 100%;
    max-height: 200px; /* Adjust the maximum height as needed */
    border-radius: 8px;
    margin-bottom: 15px;
    
  }

  .why-item:hover {
    background-color:#b3245c;
    transition: transform 20s ease-in-out;
  }

  .why-item:hover .support,
  .why-item:hover .why-first,
  .why-item:hover .why-second {
    color:white;
  }

  .why-first{
    color:#333c43;
  font-size: 1.625em;
  line-height: 1.6;
  margin-bottom: 15px;
  font-weight:600;
  padding:10px;
  }

  .support
  {
    padding:10px;
    font-size:3.5em;
    color:#b3245c;
  }

  .support:hover{
    transform:translateY(-10px);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .why-second{
    color: #555; 
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 25px;
    padding:10px;
  }

  
  @media (max-width: 768px) {
    
    .why-grid {
      grid-template-columns: repeat(1, 1fr); 
      gap: 20px; 
      width: 70%; 
      margin: 0 auto; 
    }
  
    /* .why-container h2 {
      font-size: 1.2em;
    } */

    .why-first
    {
      font-size: 1.625em;
    }

    .why-second
    {
      font-size: 1rem;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .why-grid {
      grid-template-columns: repeat(2, 1fr); 
      gap: 20px; 
      width: 70%; 
      margin: 0 auto; 
    }
  
    /* .why-container h2 {
      font-size: 1.625em;
    } */
  
    .why-first {
      width: 100%;
      font-size: 1.75rem;
    }
  
    .why-second {
      font-size: 1rem;
    }
  }
  
  @media (min-width: 1024px) and (max-width: 1200px) {
    .why-grid {
      grid-template-columns: repeat(2, 1fr); 
      gap: 20px; 
      width: 60%; 
      margin: 0 auto; 
    }
  
    /* .why-container h2 {
      font-size: 1.3em;
    } */
  
    .why-first {
      font-size: 2rem;
    }
  
    .why-second {
      font-size: 1.2rem;
    }
  }
  