*
{
    margin: 0;
    padding: 0;
}

.home-container.animate-circle::after {
    width: 200vw;
    height: 200vh;
  }

  .home-container.animate-circle .company-name
  {
    font-size: 4em;
    color:#b3245c;
    transition: font-size 1.5s ease-in-out, color 1.5s ease-in-out
  }