@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
section
{
    position:relative;
    width:100vw;
  font-family: 'Roboto', sans-serif;

}

  #main {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .span-head
{
  color:#b3245c;
}

::-webkit-scrollbar-track {
  background: #ffffff; /* Color of the scrollbar track */
  margin-top: 90px;
  margin-bottom: 90px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners of the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle when hovered */
}