@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html {
  scroll-behavior: smooth;
}
html,body
{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow-x:hidden;
}

section
{
    position:relative;
    width:100vw;
  font-family: 'Roboto', sans-serif;

}

  #main {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .span-head
{
  color:#b3245c;
}
